<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
	<a class="navbar-brand" >
		<img src="https://upload.wikimedia.org/wikipedia/en/8/8e/AppleSiriIcon2017.png" width="32" height="32">
    </a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExample09">
		<ul class="navbar-nav mr-auto">
		<li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Weather
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/current_weather">Current</a>
                <a class="dropdown-item" href="/forecast_weather">Five Day Forecast</a>
            </div>
        </li>
		</ul>
	<!--ul class="navbar-nav navbar-right">
	</ul-->
	</div>
</nav>