{% extends 'layout.html' %}

{% block body %}
	<p></p>
	<h1>Preview of the Front Page of Reddit</h1>
    <br>
    {% for post in front_page %}
        <hr>
        <span style="float: left">{{ post.subreddit }}</span>
        <span style="float: right">{{ post.upvotes }} Upvotes</span>
        <br>
        <font size="6">
            <a href={{ post.post_link }}>{{ post.title }}</a>
        </font>
        <br>
        {% if post.preview_url %}
            <br>
            <img src={{ post.preview_url }} style='width: 50%; height: auto'>
            <br>
            <br>
        {% endif %}
    {% endfor %}
{% endblock %}
</div>