{% extends 'layout.html' %}

{% block body %}
	<p></p>
	<h1>YouTube Audio</h1>
    <br>
    <form method="POST">
        <div class="input-group md-form form-sm form-1 pl-0">
            <div class="input-group-prepend">
                <span class="input-group-text purple lighten-3" id="basic-text1">
                    <i class="fa fa-search"></i>
                </span>
            </div>
            <input name="query" class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
        </div>
	</form>
    <br>
    {% if results %}
        <h5>Results for {{ query }}</h5>
        <table style="border-collapse:separate; border-spacing:0 20px;">
            {% for result, idx in zip(results, results_range) %}
                <tr>
                    <td>
                        <button type="button" id="button_play" class="btn" onclick='buttonPlayPress({{ idx }})'>
                            <i class="fa fa-play"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" id="button_stop" class="btn" onclick='buttonStopPress()'>
                            <i class="fa fa-stop"></i>
                        </button>
                    </td>
                    {% for i in range(5) %}
                    <td></td>
                    {% endfor %}
                    <td>
                        <img src="{{ result.thumbnail }}">
                    </td>
                    {% for i in range(10) %}
                    <td></td>
                    {% endfor %}
                    <td>
                        <a href="{{ result.url }}">
                            {{ result.title }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script>
        var state = 'stop';
        var previous_video = '';

        function buttonPlayPress(idx) {
            if (state == 'stop') {
                state='play';
                var button =  d3.selectAll("#button_play")
                                .filter(function(d, i) { return i == idx; })
                                .classed('btn-success', true);
                button.select("i").attr('class', "fa fa-pause");
            } else if (state == 'play') {
                if (previous_video != idx) {
                    buttonStopPress();
                    state = 'play';
                    var button =  d3.selectAll("#button_play")
                                    .filter(function(d, i) { return i == idx; })
                                    .classed('btn-success', true);
                    button.select("i").attr('class', "fa fa-pause");
                } else {
                    state = 'pause';
                    d3.selectAll("#button_play i")
                        .filter(function(d, i) { return i == idx; })
                        .attr('class', "fa fa-play");
                }
            } else if (state == 'resume') {
                state = 'pause';
                if (previous_video != idx) {
                    buttonStopPress();
                    state = 'play';
                    var button =  d3.selectAll("#button_play")
                                    .filter(function(d, i) { return i == idx; })
                                    .classed('btn-success', true);
                    button.select("i").attr('class', "fa fa-pause");
                } else {
                    d3.selectAll("#button_play i").filter(function(d, i) { return i == idx; }).attr('class', "fa fa-play");
                }
            } else if (state == 'pause') {
                if (previous_video != idx) {
                    buttonStopPress();
                    state = 'play';
                    var button = d3.selectAll("#button_play")
                        .filter(function(d, i) { return i == idx; })
                        .classed('btn-success', true);
                    button.select("i").attr('class', "fa fa-pause");
                } else {
                    state = 'resume';
                    d3.select("#button_play i")
                        .filter(function(d, i) { return i == idx; })
                        .attr('class', "fa fa-pause");
                }
            }

            previous_video = idx;
        }

        function buttonStopPress() {
            state = 'stop';
            var buttons = d3.selectAll("#button_play").classed('btn-success', false);
            buttons.select("i").attr('class', "fa fa-play");
            previous_video = '';
            console.log("button stop invoked.");
        }
    </script>
{% endblock %}