{% extends 'layout.html' %}

{% block body %}
	<p></p>
	<h1>Current Weather</h1>
    <form action="" method="POST">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">City</span>
                    </div>
                    <input type="text" class="form-control" name="city" placeholder={{ current_weather.name }}>
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Country</span>
                    </div>
                    <input type="text" class="form-control" name="country" placeholder={{ current_weather.country }}>
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Change Location</button>
            </div>
        </div>
	</form>
	<p></p>
    <a>
        <font size="10">{{ current_weather.current_temp }}°F</font>
    </a>
    <br>
    <a>{{ current_weather.name }}, {{ current_weather.country }}</a><br>
    <a>{{ current_weather.summary }}</a><br>
    <br>
    <a>Low: {{ current_weather.min_temp }}°F</a><br>
    <a>High: {{ current_weather.max_temp }}°F</a><br>
    <a>Humidity: {{ current_weather.humidity }}%</a><br>
    <a>Wind Speed: {{ current_weather.wind_speed }} mph</a><br>
    <p></p>
    <p>
        {{ current_weather.description }} {{ current_weather.recommend }}
    </p>
{% endblock %}